<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="app">
        <div class="form-section">
            <form action="/upload-video" id="form-section" method="POST" enctype="multipart/form-data">
                <input type="file" id="file" name="file_from_user" required>
                <input type="submit" value="Upload">
            </form>
        </div>
        <div class="files-section">
            {% for video in videos %}
                <!-- <a href="">
                    <img src="{{ url_for('display_files', filename=video) }}">
                </a> -->
                <div class="single-video">
                    <video src="{{ url_for('display_files', filename=video) }}" controls preload="preload"></video>
                    <form action="/add-subtitles" class="user-video" method="POST">
                        <input type="submit" name="generate-subtitles" value="Add Subtitles">
                    </form>
                </div>
            {% endfor %}
        </div>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
    <script>
        const fileSection = document.getElementById('form-section')
        fileSection.addEventListener('submit', upload)
        async function upload(e){
            e.preventDefault();
            console.log()
            const userFile = document.getElementById('file').files[0];
            const formData = new FormData();
            formData.append('file_from_user', userFile)
            function getCookie(name) {
                const value = `; ${document.cookie}`;
                console.log(value)
                const parts = value.split(`; ${name}=`);
                console.log(parts)
                if (parts.length === 2) return parts.pop().split(';').shift();
            }
            const options = {
                method: 'post',
                credentials: 'same-origin',
                headers: {
                    'X-CSRF-TOKEN': getCookie('csrf_access_token'),
                },
                body: formData,
            }
            const response = await fetch('http://127.0.0.1:5555/upload-video', options);
            const result = await response.json();
            location.reload()
            return result;
        }
    </script>
</body>
</html>